body{
    background-color:#0077cc 

}
#heading{ 
margin-left: 30%;
   display: flex;
   justify-content:center;
   width: 30%;
   background-color: #0077cc;
   border:2px;  
   height: 30%;
   width: 40%;
   padding: 10px;
   border-radius: 5px;
   color: white;
}

